# This is a sample configurations file.

# If enabled system will use let's encrypt
# staging servers to generate certs
DEBUG=Enable

# Set the API key for NS1
SSL_API_KEY=10000000000000000000

# Domain name of the site
SITE_HOSTNAME=localhost

